<div class="header">

<ul class="nav justify-content-end navbar position-sticky" style="position: sticky;">
  <a class="navbar-brand position-absolute top-1 start-0 ms-3 text-dark" href="#">The Art Corner</a>
    <!-- <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link active text-dark" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/cart">Cart</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-dark" href="logout">Logout</a>
    </li>
  </ul>

</div>