.background-radial-gradient {
  background-size: cover;
  height: 100vh;
  background-color: #C4DFDF;
  background-image: radial-gradient(650px circle at 0% 0%,
      #C4DFDF 15%,
      #D2E9E9 35%,
      #E3F4F4 75%,
      #F8F6F4 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      #C4DFDF 15%,
      #D2E9E9 35%,
      #E3F4F4 75%,
      #F8F6F4 80%,
      transparent 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}

.container h1 {
  font-size: 50px;
  margin: 0;
  width: 350px;
}

.container p {
  margin: 0;
  width: 350px;
}

.card {
  width: 550px;
  height: 400px;
  margin: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

button {

  background-color: #F8F6F4;
  color: black;
  font-size: 20px;
}

button:hover {
  color: white;
  background-color: black;
  transition: 0.4s ease;
}

.row label {
  color: black;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: left;


}

.bg-glass {
  background-color: #C4DFDF !important;
  backdrop-filter: saturate(200%) blur(25px);
}