<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">{{count}} items</div>
                </div>
            </div>     <div class="text-center">{{msg}}</div>

            <div class="box" *ngFor = "let cartItem of cartList">
                
                <div class="row border-top">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src={{cartItem.url}}></div>
                        <div class="col">
                            <div class="row text-muted">{{cartItem.pname}}</div>
                            <div class="row">{{cartItem.description}}</div>
                        </div>
                        <div class="col">
                            <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                        </div>
                        <div class="col" >₹ {{cartItem.price}} <span class="close" (click)="deleteById(cartItem.id)"><a href="/cart">&#10005;</a></span></div>
                    </div>
                </div>
                <div class="row border-top border-bottom"></div>
            </div>


            
                
            <div class="back-to-shop"><a href="/product">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS: {{count}}</div>
                <div class="col text-right">₹ {{total}}</div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select><option class="text-muted">Standard-Delivery- ₹ 49.99 </option></select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">₹ {{total + 50}}</div>
            </div>
            <button class="btn">CHECKOUT</button>
        </div>
    </div>
    
</div>