

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




<div class="container mt-4">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="dropdown-container">
          <select class="form-select" (change)="onCategoryChange($event)">
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let product of product">
        <div class="card hover-card h-100">
          <div class="card-overlay">
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
          <img
            [src]="product.url"
            class="card-img-top"
            alt="{{ product.pname }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.pname }}</h5>
            <div class="card-overlay">
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
              <p class="card-text"><strong>Id:</strong> ${{ product.id }}</p>
              <div *ngIf="loading">Loading...</div>
      <div *ngIf="!loading">
              <button class="btn btn-primary" (click)="addToCartByID(product.id)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  